 .btn-group{
   display: block;
 }

 .btn-group button {
    min-width: 80%;
    display: block;
    margin-bottom: 3vh;
    font-size: 16px;
    
    
  }

  .btn-group a {
    text-decoration: none;
    
  }
  
  @media screen and (max-width: 960px) {

    .btn-group button {
      font-size: 11px;
    }
   }